{% extends "shop/base.html" %}
{% block content %}
</br>
</br>
</br>
</br>
 <div class="content-section">
 	<fieldset class="form-group">
 		<legend class="border-bottom mb-4">  <i class="fas fa-info-circle"></i>  About Us</legend></fieldset>
 		<font face="arial" size="+1">
  		  Mouhamed Sock, Co-fondateur et Président, a l’idée du projet fin 2020 et la première version du service Eshop, dévéloppé lui meme est lancée dans le net en  2021. Très vite, le service rencontre son public, au Senegal notamment grâce au travail de ce dernier. Wilfried, Co-fondateur et CEO, organise rapidement la croissance et la structuration de L'eshop-ecommerce. Depuis, l’équipe s’est agrandie, le hub s’est installé à Dakar avec notre équipe de développeurs, commerciaux, marketing et communication.En Septembre 2022, l’équipe se renforce avec l’arrivée de Ousseynou Sagna comme Directeur Marketing, Martin comme Directeur des Opérations, et des experts en back-end. Waly Diouf, notre CTO nous rejoint fin 2022.
Nous avons également ouvert un bureau au Senegal autour de Ngor, et nous comptons etendre notre societe partout en Afrique au Togo ,en Côte d’Ivoire, et à Douala.C’est cette équipe dynamique et multi-culturelle qui fait la réussite et la fierté de CoinAfrique depuis le début. Avec une dizaine de nationalités représentées, Eshop se veut à l’image d’une Afrique métissée et talentueuse, tournée vers l’avenir.</font>
</div>
   
{% endblock content %}