
{% extends "shop/base.html" %}
{% block content %}
</br>
</br>
</br>
</br>
 <div class="content-section">
 	<fieldset class="form-group">
 		<legend class="border-bottom mb-4">About Us</legend></fieldset>
 		<font face="arial" size="+1">
  		 Amazon.fr et un grand nombre de vendeurs sur Amazon.fr vous proposent de retourner la plupart des articles dans un délai de 30 jours suivant leur réception. Cette page vous en apprend davantage sur nos politiques de retour. La plupart des articles vendus sur Amazon.fr bénéficient de notre politique de retour générale, mais certains produits sont soumis à des politiques de retours particulières.
  		Veuillez noter que chaque article doit être retourné dans le même état qu'au moment de leur réception. Les articles en état neuf doivent être retournés neufs, inutilisés et complets. Les articles d'occasion ne doivent pas comporter de signes d'utilisation ou de dommages supplémentaires. Les exceptions applicables au droit de rétractation s’appliquent aussi à notre Politique de Retours sous 30 jours. Les produits ci-dessous ne peuvent être retournés dans le cadre de notre Politique de Retours sous 30 jours (sauf si le produit est défectueux).

Les produits qui ne peuvent pas être retournés pour des raisons d'hygiène ou de protection de la santé et qui descellés ou bien, qui ont, après avoir été livrés, été mélangés de manière indissociables avec d'autres articles ;
Les enregistrements audio ou vidéo ou de logiciels informatiques lorsque vous les avez descellés après la livraison ;
Les produits qui ont été confectionnés selon vos spécifications ou nettement personnalisés, en particulier les articles personnalisés Amazon Handmade.
Les produits susceptibles de se détériorer ou de se périmer rapidement ;
Les services pleinement exécutés par Amazon pour lesquels vous avez accepté, au moment du passage de votre commande que nous commencions leur exécution, et renoncé à votre droit de rétractation ;
Le contenu numérique (y compris des applications, des logiciels, des livres numériques, téléchargement de musique, etc.) non fourni sur un support matériel (ex : sur un CD ou DVD) pour lequel vous avez accepté, au moment du passage de votre commande que nous commencions la fourniture de celui-ci et renoncé à votre droit de rétractation ;
Les journaux, périodiques ou magazines à l'exception des contrats d'abonnement à ces publications ;
Les boissons alcoolisées dont la valeur convenue à la conclusion du contrat dépend des fluctuations du marché échappant à notre contrôle.
Remarque: veuillez noter que, comme indiqué dans notre politique de retour, un article retourné doit être dans le même état dans lequel vous l'avez reçu. Cela signifie que les nouveaux articles doivent être retournés dans l'état exact dans lequel vous les avez reçus (y compris avec tous les accessoires).

Garantie légale de conformité
Ces politiques de retour n'affectent pas la garantie légale de conformité et/ou la garantie des vices cachés dont vous pouvez bénéficier, le cas échéant. Consultez notre page d'aide sur ces garanties légales.

Politique de retours des vendeurs
La politique de retours proposée par les vendeurs Marketplace doit être au moins équivalente à celle proposée par Amazon.

Si vous retournez un article à un vendeur sans utiliser de suivi de colis, et que celui-ci n'arrive pas à destination, ou si vous refusez le colis à sa livraison comme méthode de retour, il se peut que vous ne soyez pas éligible à une réclamation au titre de la Garantie A à Z.

Livres
Les livres achetés auprès d'Amazon.fr peuvent être retournés sous 30 jours. Vous serez guidé à chaque étape dans notre Centre de retours en ligne.

CD, vinyle, DVD, Blu-ray ou Jeux vidéo
Les CD, vinyle, DVD, Blu-ray et jeux vidéo expédiés par Amazon.fr doivent être retournés sous 30 jours, dans leur emballage d'origine, non descellés et incluant le code-barres. Toutefois, les CD, vinyle, DVD, Blu-ray et jeux vidéo envoyés par Amazon non scellés peuvent faire l'objet d'un retour dans leur condition d'origine, via notre Centre de retours en ligne.

Veuillez noter que les coffrets doivent nous être retournés en intégralité, et non seulement le CD, vinyle, DVD, Blu-ray ou jeu vidéo défectueux, endommagé ou non conforme.

Logiciels ou CD-Rom
Les logiciels et les CD-Rom doivent nous être retournés sous 30 jours, dans leur emballage d'origine, non descellés et incluant le code-barres via notre Centre de retours en ligne.

Articles volumineux
Si vous avez bénéficié de notre livraison spéciale sur rendez-vous, et souhaitez nous retourner un article de grande taille, notre transporteur viendra chercher votre article à votre domicile. Tous les détails d'organisation de cette collecte vous seront fournis dans notre Centre de retours en ligne.

Dans les 30 jours suivant la réception de votre commande, Amazon vous propose la possibilité de remplacer votre produit ou de vous faire rembourser le prix du produit. Les frais de retour sont gratuits si l'article est défectueux, endommagé ou non conforme. Des frais de retour de 19,90 € seront déduits de votre remboursement si l'article est en bon état mais vous souhaitez simplement le retourner.

Si toutefois vous préfériez procéder vous-même au retour de votre produit, veuillez noter que les frais de retour d'un article volumineux peuvent être plus élevés que les frais de retour habituels. Vous pourrez ainsi devoir supporter des frais de retour estimés jusqu'à 50 € pour un article volumineux.

Les retours peuvent être effectués à partir de notre Centre de retours en ligne.

Notre transporteur viendra chercher votre article à votre domicile.

Après la fenêtre de retours de 30 jours, si vous avez besoin d'une réparation, nous vous invitons à contacter en premier lieu le service après-vente du fabricant de la marque de votre produit.

Plusieurs marques de gros électroménager ne couvrent que les pièces dans leur garantie. Cela signifie qu'en cas de réparation, la main-d'œuvre et le déplacement peuvent être à votre charge. Puisque cette politique diffère des pratiques des marques sur d'autres types de produits électroniques, Amazon voudrait attirer votre attention sur ce point.

Chaussures et vêtements
Si vous souhaitez nous retourner une paire de chaussures ou un vêtement livrés en France métropolitaine, vous pouvez bénéficier d'un retour gratuit quelle que soit la raison du retour. Pour en savoir plus sur le retour de ces articles, ou lire nos conseils pour l'essayage de vos chaussures, rendez-vous sur la page Retours gratuits sur les articles de mode.

Le retour des articles des Collections The Drop créés sur demande lorsque l'article n'est pas défectueux, endommagé ou incorrect ne sont pas éligibles au retour gratuit.</font>
</div>
   
{% endblock content %}